@font-face {
	font-family: Outfit;
	src: url("../../fonts/Outfit-VariableFont_wght.ttf");
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: hsl(217, 54%, 11%);
}
.main-container {
	font-family: Outfit;
	margin-top: auto;
	align-self: center;
	padding: 20px;
	width: 280px;
	background-color: hsl(216, 50%, 16%);
	border-radius: 10px;
	box-shadow: 0px 0px 50px hsl(217, 56.5%, 9%);
}
.nft-img-container {
	/* display: flex; */
}
.nft-image {
	width: 100%;
	border-radius: 5px;
}
.view-icon {
	position: absolute;
	width: 40px;
	margin: 100px;
	cursor: pointer;
}
.view-icon:hover {
	display: block;
}

.heading {
	font-weight: 600;
	margin: 20px 0 20px 0;
	color: hsl(0, 0%, 100%);
}
.heading:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}
.description-text {
	font-size: 18px;
	color: hsl(215, 51%, 70%);
	margin: 0 0 20px 0;
}
.row-container {
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid hsl(215, 32%, 27%);
}
.price-container {
	display: flex;
	align-items: center;
	gap: 5px;
}
.eth-icon {
	height: 14px;
}
.eth-price {
	font-weight: 400;
	color: hsl(178, 100%, 50%);
}
.countdown-container {
	display: flex;
	align-items: center;
	gap: 5px;
}
.clock-icon {
	height: 14px;
}
.days-left {
	color: hsl(215, 51%, 70%);
}
.profile-container {
	display: flex;
	gap: 10px;
}
.profile-image {
	width: 20px;
	border: 2px solid white;
	border-radius: 50%;
}
.profile-text {
	color: hsl(215, 51%, 70%);
}
.name-span {
	color: hsl(0, 0%, 100%);
}

.name-span:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}
.attribution {
	color: white;
	margin-top: auto;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(178, 100%, 50%);
}
